.introductionContainer{
    width: 100%;
    display: flex;
    min-height: 60vh;
    flex-direction: row;
    padding: 2vw 5vw;
    align-items: center;
}
.introduction {
    flex:1;
}
.introImg {
    width:50%;
    object-fit: contain;
    
}
.introMudiText {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #000;
    text-align: left;
    width: 95%;
}
.slider{
    flex:1;
}

.principalImage{
    object-fit: contain;
}

@media (max-width: 768px) {
    .introductionContainer{
        flex-direction: column;
       min-height: 100vh;
    }
    .introImg {
        width: 100%;
    }
    .introduction {
        width: 100%;
    }
    .introMudiText {
        font-size: 1.5rem;
        text-align: center;
    }

}