.footer{
    background-color: #575757;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative ;
    bottom: 0px;
}
.footer_textContainer{
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}
.footer_textContainer p{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: 0px 15px;
    color: #828282;
}
